<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta  http-equiv="refresh" content="20">
<title>UCSAL - PROJETO INTEGRADOR 2017.2</title>
</head>
<body>

<ul>
<li>UNIVERSIDADE CATÓLICA DO SALVADOR</li>
<li>Disciplina Projeto Integrador 2017.2</li>
</ul>
<br><br>

<h1><strong>ESTATÍSTICA DE TWEETS</strong></h1>

<br><br>

<br>

<table summary="Tabela com as informações da análise de sentimento">

<caption>ANÁLISE DE SENTIMENTO</caption>

<tr>
<th>TOTAL DE TWEETS</th>
<th>SEGUROS</th>
<th>INSEGUROS</th>
<th>NEUTROS</th>
</tr>

<tr>
<td>{{total}}</td>
<td>{{seguro}}</td>
<td>{{inseguro}}</td>
<td>{{neutro}}</td>
</tr>
</table>
</body>
</html>