<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta  http-equiv="refresh" content="20">
<center><title>UCSAL - PROJETO INTEGRADOR 2017.2</title></center>
</head>
<body>

<br><br>
<ul>
<li>UNIVERSIDADE CATÓLICA DO SALVADOR</li>
<li>Curso: análise e desenvolvimento de sistemas</li>
<li>Disciplina Projeto Integrador 2017.2</li>
</ul>
<br>

<h1><strong>ESTATÍSTICA DE TWEETS</strong></h1>

<br>

<table summary="Tabela com as informações da análise de sentimento">

<caption>ANÁLISE DE SENTIMENTO</caption>

<tr>
<td>Total de tweets classificados: {{total}}</td>
</tr>
<br>

<th scope="col">CLASSIFICAÇÃO</th>
<th scope="col">PERCENTUAL</th>
<th scope="col" id="quantidade">QUANTIDADE</th>
</tr>

<tr>
<td>SEGURO</td>
<td>{{percentualSeguros}}</td>
<td>{{totalSeguros}}</td>
</tr>

<tr>
<td>INSEGURO</td>
<td>{{percentualInseguros}}</td>
<td>{{totalInseguros}}</td>
</tr>

<tr>
<td>NEUTRO</td>
<td>{{percentualNeutros}}</td>
<td>{{totalNeutros}}</td>
</tr>
</table>


</body>
</html>
<br>

<center><footer>ANDRÉ NASCIMENTO</footer></center>